/* basic */
.bg-main-color {
    background-color: var(--main-color);
}

/* hero */
.hero.container {
    padding-bottom: 20px;
    /* čia keičia tik šitam custom, nes layout'e yra bendras visiems */
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero > .row-short {
    text-align: center;
}

.hero img {
    margin-bottom: var(--big-gap);
    /* height: 30px; */
}

.hero h1 {
    display: inline-block;
    width: 100%;
    color: black;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: var(--gap);
}

.hero p {
    display: inline-block;
    width: 100%;
    color: #444;
    font-size: 21px;
    line-height: 25px;
    margin-bottom: var(--big-gap);
}

.hero .clock {
    margin-bottom: var(--big-gap);
}

.hero .form {
    margin-bottom: var(--gap);
}

/* main */
main h2 {
    font-size: 20px;
    line-height: 20px;
    color: black;
    text-transform: uppercase;
    margin-bottom: 20px;
}

main p {
    font-size: 15px;
    line-height: 23px;
    color:  #777;
    margin-bottom: 20px;
}

main p > a {
    color: var(--secondary-color);
    text-decoration: none;
}

main p > a:hover {
    text-decoration: underline;
}

/* footer */
footer.container {
    padding-top: 0;
    text-align: center;
}
footer > .row-long {
    padding: 10px 0;
    border-bottom: white 1px solid;
    margin-bottom: 20px;
}

footer .fa {
    color: white;
    font-size: 18px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 50%;
    text-decoration: none;
}

footer .fa:hover {
    background-color: white;
    color: var(--main-color);
    text-align: center;
}

footer p a {
    color: white;
    text-decoration: none;
}

footer img {
    margin-bottom: 20px;
    height: 40px;
}

footer p {
    display: inline-block;
    width: 100%;
    font-size: 17px;
    line-height: 29px;
    color: #fff9;
}

footer p > span {
    padding: 0 10px;
    position: relative;
}

footer p > span + span::before {
    content: '';
    display: inline-block;
    height: 15px;
    width: 1px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: -2px;
    transform: translateY(-50%);
    /* kuriamas pseudo elementas, kuris neegzituoja tml, sukuriamas css, bet elgiasi tarsi html elementas --- pagaliukai */
}
/* span + span -> paima antrąjį iš eilės einantį span; ir tada trečią, nes jis yra antras nuo antro, ždž, iš esmės neima pirmo */

@media (max-width: 640px) {
    footer p > span {
        width: 100%;
        display: inline-block;
    }

    footer p > span + span::before {
        display: none;
    }
}