:root {
    --gap: 20px;
    /* pirmasisis kintamasis css'e */
    --big-gap: calc(2.5 * var(--gap));
    /* taip iškviečia var */
    --main-color: #03A9F3;
    --secondary-color: red;
}

/* tėviškiausias selector'ius, net labiau už body */
/* -- šitie minusiukai tiesiog sako, kad jie yra kintamieji, tokia sintaksė */
/* visai useful tie variables, nes po to tik čia pakeiti reikšmę ir nebereikia keisti visur css'e */

/* gap: 20px;
big-gap: 2,5 * gap; */

/* dar čia verta išsikelti spalvas */